#about .row,
#education .row,
#home .row {
	width: 100vw
}

body {
	background: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-style: normal;
	font-weight: 300;
	overflow-x: hidden
}

body,
html {
	width: 100%;
	height: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-style: normal;
	font-weight: 300
}

h1,
h2,
h3 {
	font-weight: 300
}

h1 {
	font-size: 42px;
	padding-bottom: 14px;
	margin-bottom: 0
}

h2 {
	font-size: 42px;
	line-height: 56px;
	margin-top: 0
}

h3 {
	font-size: 26px;
	line-height: 32px;
	padding-bottom: 6px
}

h4 {
	color: #999;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding-top: 6px
}

h5 {
	color: #666
}

strong {
	color: #232b2b;
	font-weight: 400
}

p {
	color: #888;
	font-size: 16px;
	font-weight: 300;
	line-height: 28px;
	letter-spacing: .2px
}

.section-btn {
	background-color: transparent;
	border: 3px solid #232b2b;
	border-radius: 100px;
	color: #232b2b;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 1.6px;
	padding: 12px 36px;
	margin-top: 42px;
	transition: all .4s ease-in-out;
	text-transform: uppercase
}

.section-btn:hover {
	background: #e3ae57;
	border-color: transparent;
	color: #fff
}

.btn-success:focus {
	background-color: #000;
	border-color: transparent
}

.parallax-section {
	background-attachment: fixed!important;
	background-size: cover!important
}

.section-title {
	position: relative;
	padding-bottom: 22px
}

#about,
#education {
	position: relative
}

#about .container,
#education .container,
#home .container {
	width: 100%;
	padding: 0;
	margin: 0
}

#education .education-thumb {
	padding: 22px 42px 42px 42px
}

footer {
	text-align: center
}

#education {
	background: #e9724c
}

.background-image {
	background-position: 50% 50%!important;
	background-size: cover!important;
	width: 100%;
	height: 100%;
	min-height: 75vh;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0
}

.color-white {
	color: #fff
}

html {
	-webkit-font-smoothing: antialiased
}

a {
	color: #e3ae57;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	text-decoration: none!important
}

a:active,
a:focus,
a:hover {
	color: #e3ae57;
	outline: 0
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

:after,
:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	background: none repeat scroll 0 0 #fff
}

.bg-dark{
    background-color: #212121 !important;
}

.custom-navbar {
	margin-bottom: 0;
}

.custom-navbar .navbar-brand {
	color: rgba(255, 255, 255, .7);
	font-weight: 500;
	font-size: 24px;
	line-height: 35px;
	letter-spacing: 1px;
	margin-left: 35px
}

.custom-navbar .navbar-brand:hover {
	color: rgba(255, 255, 255, 1)!important
}

.custom-navbar .nav-custom li a {
	color: rgba(255, 255, 255, .7)!important;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 40px;
	transition: all .4s ease-in-out
}

.custom-navbar .nav-custom li a:hover {
	background: 0 0;
	color: rgba(255, 255, 255, 1)!important
}

.custom-navbar .nav-custom img {
	margin-top: -3px
}

.custom-navbar .navbar-nav>li>a:focus,
.custom-navbar .navbar-nav>li>a:hover {
	background-color: transparent
}

.custom-navbar .navbar-toggler {
	border: none;
	padding-top: 10px
}

.custom-navbar .navbar-toggler {
	background-color: transparent
}

.custom-navbar .navbar-toggler .icon-custom {
	background: #e3ae57;
	border-color: transparent
}

@media (min-width:768px) {
	.custom-navbar {
		padding: 12px 0;
		border-bottom: 0;
		background: 0 0
	}
}

footer {
	background-color: #e5e5e5;
	padding: 15px 10px 0 0
}

footer .footer-copyright p {
	color: rgba(0, 0, 0, .8);
	font-size: 18px
}

footer .footer-copyright a {
	color: #157a6e
}

.parallax-section {
	scroll-behavior: smooth
}

@media only screen and (max-width:580px) {
	h1 {
		font-size: 32px
	}
	h2 {
		font-size: 28px;
		line-height: inherit
	}
	h3 {
		font-size: 22px;
		line-height: inherit
	}
}

@media only screen and (max-width:767px) {
	.custom-navbar .navbar-brand {
		line-height: 18px
	}
}

@media only screen and (min-width:767px) {
	.custom-navbar .navbar-brand {
		padding-left: 5%
	}
}

@media only screen and (max-width:1024px) {
	.section-title {
		padding-bottom: 12px
	}
	footer {
		padding: 15px 10px 0 0
	}
}

@media only screen and (min-width:992px) {
	.custom-navbar .navbar-collapse {
		padding-right: 5%
	}
	.custom-navbar .navbar-brand {
		padding-left: 10%
	}
}

@media only screen and (min-width:1400px) {
	.custom-navbar .navbar-collapse {
		padding-right: 10%
	}
	.custom-navbar .navbar-brand {
		padding-left: 15%
	}
}

@media only screen and (min-width:1650px) {
	.custom-navbar .navbar-collapse {
		padding-right: 15%
	}
	.custom-navbar .navbar-brand {
		padding-left: 20%
	}
}

#home h1 {
	padding-bottom: 18px
}

#home .col-lg-6 {
	background: #f1e2d7;
	padding-right: 0;
	padding-left: 0
}

#home {
	background: url(../images/quotes-bg.jpg) no-repeat fixed;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 90vh
}

#home .overlay {
	background: #121212;
	width: 100vw;
	height: 100%;
	position: absolute;
	top: 0;
	opacity: .6
}

#home .home-thumb {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100vh;
	padding: 0 45px 0 45px
}

#home .section-title h4 {
	color: rgba(0, 0, 0, .6);
	font-weight: 600;
	font-size: 16px
}

#home .section-title p {
	font-weight: 500;
	font-size: 18px;
	padding-right: 20px;
	color: rgba(0, 0, 0, .6)
}

#home .section-title h1 {
	color: rgba(0, 0, 0, 1)
}

#about .about-img {
	background: url(../images/about-img.jpg) no-repeat
}

#about .about-thumb {
	padding: 22px 32px 32px 32px
}

#about span,
#about strong {
	font-weight: 700;
	display: inline-block;
	padding-bottom: 8px
}

#education {
	background: #f9fcf5;
    padding-top: 10vh;
}

#education .padder {
	max-width: 1140px!important;
	padding: 0 15px;
	text-align: justify
}

#education .subpad {
	max-width: 1140px!important;
	padding: 0 15px;
	text-align: center
}

#education .subpad p {
	font-size: 14px!important
}

#education h2,
#education h3 {
	text-align: center;
	color: #3c4858!important;
	font-weight: 700!important;
	font-family: "Roboto Slab", "Times New Roman", serif!important
}

#education h2 {
	font-size: 36px!important
}

#education h3 {
	font-size: 18px!important
}

#education p {
	font-size: 17px!important;
	font-family: Roboto, Helvetica, Arial, sans-serif!important
}

#education .education-thumb h2,
#education .education-thumb h3,
#education .education-thumb i,
#education .education-thumb p {
	font-weight: 500;
	color: rgba(0, 0, 0, .8)
}

@media only screen and (max-width:580px) {
	h1 {
		font-size: 32px
	}
	h2 {
		font-size: 28px;
		line-height: inherit
	}
	h3 {
		font-size: 22px;
		line-height: inherit
	}
}

.custom-navbar .navbar-brand {
	line-height: 18px
}

#home .home-thumb {
	height: auto;
	padding-top: 32px;
	padding-bottom: 12px
}

#about .container,
#education .container,
#home .container {
	padding-right: 15px;
	padding-left: 15px
}

#about .col-lg-3,
#education .col-lg-6 {
	padding: 0;
	margin: 0
}

.background-image {
	position: relative;
	min-height: 65vh
}

.background-image {
	position: relative;
	min-height: 65vh
}
